#col {
	display: flex;
	/*width: 400px;*/
	/*justify-content: space-evenly;*/
	column-gap: 30px;
	background-color: #7C838A;
}
#col > div{
	flex:  auto;
}

/* Partie Nom des personnes */

.nom_Chantal {
	font-family: Bangers;
}

.nom_Florian {
	font-family: Bangers;
}

.nom_Noah {
	font-family: Bangers;
}

.nom_Adam {
	font-family: Bangers;
}

/* Partie element des personnes */

.element_chantal{
	font-family: Bangers;
	margin: 40px 10px 500px 0;
	text-align: center;
	width:  250px;
}
.element_chantal img{
  widht: 200px;
  height: 200px;
  border-radius: 30%;
}
.element_florian{
	font-family: Bangers;
	margin: 40px 60px 500px 0;
	text-align: center;	
}
.element_florian img{
  widht: 200px;
  height: 200px;
  border-radius: 30%;
}
.element_noah{
	font-family: Bangers;
	margin: 40px 65px 500px 0;
	text-align: center;
}
.element_noah img{
  widht: 200px;
  height: 200px;
  border-radius: 30%;
}
.element_adam{
	font-family: Bangers;
	margin: 40px 10px 500px 10px;
	text-align: center;
}
.element_adam img{
	widht: 200px;
  height: 200px;
  border-radius: 30%;
}

/*Partie text des compétences*/

.text_chantal {
	font-family: Bangers;
}

.text_florian {
	font-family: Bangers;
}

.text_noah {
	font-family: Bangers;
}

.text_adam {
	font-family: Bangers;
}

h3{
	text-align: center;
	font-size: 2em;
	margin-bottom: 15px;
}

footer{
	margin-top: 50px;
}