/*--- Séparateur ---*/

.contactez-nous {
	font-family: Bangers;
	margin-left: 45%;
	margin-top: 10%;
	font-size: 24px;
	color: #F9ED32;
}

.separer {
	height: 3px;
	color: #FFF;
	background-color: #FFF;
	width: 167px;
	margin-left: 44%;
	margin-top: 10px;
}

/* Retour en haut */
.Up {
	margin-left: 90%;
	margin-top: -150px;
	margin-bottom: 135px;
	height: 70px;
	width: 84px;
	color: #F9ED32;
	
}

/* Retour Accueil */
.retour {
	padding: 10px;
	background-color: #B0BAC3;
	border-radius: 15px;
	color: #F9ED32;
	margin-left: 100px;
}


/*Partie Formulaire*/

.form {
	position: absolute;
	margin-left: 25%;
	margin-top: 2%;
	background-color: #682DEB;
	border-radius: 16% 84% 57% 43% / 38% 46% 54% 62% ;
	padding: 2%;
	width: 50%;
}

.name {
	margin-left: 200px;
	font-family: Bangers;
	color: #FFF34A;
}

.username {
	margin-left: 200px;
	font-family: Bangers;
	color: #FFF34A;
}

.email {
	margin-left: 200px;
	font-family: Bangers;
	color: #FFF34A;
}

.message {
	margin-left: 100px;
	font-family: Bangers;
	color: #FFF34A;
}

.input {
	color: #FFF34A;
	margin: 10px;
    margin-left: 200px;
	color: #FFF;
	background-color: #31009E;
	border-radius: 10px;
	height: 27px;
	width: 300px;
	font-size: 15px;
}

.textarea {
	width: 300px;
	height: 200px;
	margin-left: 100px;
	margin-top: 2%;
	background-color: #31009E;
	color: white;
}

.checkbox {
	font-family: Bangers;
	margin-left: 210px;
	font-size: 17px;
	color: #FFF34A;
}

.submit {
	font-family: Bangers;
	font-size: 18px;
	position: absolute;
	margin-left: 200px;
	margin-top: 10px;
	width: 150px;
	height: 30px;
	color: #FFF;
	background-color: #31009E;
	border-radius: 24% 77% 69% 31% / 42% 54% 46% 58%;
	border: none;
}

.cancel {
	font-family: Bangers;
	font-size: 18px;
	margin-left: 360px;
	margin-top: 10px;
	width: 150px;
	height: 30px;
	color: #FFF;
	background-color: #31009E;
	border-radius: 81% 19% 22% 78% / 50% 54% 46% 50%;
	border: none;
}

/*--- Partie responsive ---*/

@media screen and (max-width: 600px) {
	
	.separation {
		margin-left: -100px;
	}

	.form {
		width: 241px;
		margin-left: 58px;
		border-radius: unset;
		margin-top: 20px;
	}

	.input {
		width: 200px;
		margin-left: 15px;
	}

	.name {
		margin-left: 15px;
	}

	.username {
		margin-left: 15px;
	}

	.email {
		margin-left: 15px;
	}

	.message {
		margin-left: 11px;
	}

	.textarea {
		width: 200px;
		margin-left: auto;
	}

	.checkbox {
		margin: auto;
	}

	.submit {
		margin-top: 10px;
		margin-left: 3px;
		width: 110px;
	}

	.cancel {
		margin-left: 120px;
		width: 130px;
	}
}