/*Les liens pour les cv*/


.cv {
	display: flex;
	margin: 10px;
	margin-left: 1%;
}

.cv-text {
	text-align: center;
}

/*Cv Chantal*/

.nom_Chantal {
	text-align: center;
	font-family: Bangers;
	font-size: 25px;
}

.text_chantal {
	text-align: center;
	font-family: Bangers;
	font-size: 20px;
}

.cv__Chantal {
	margin: 10px;
	padding: 10px;
}

/* Cv Florian */

.nom_Florian {
	text-align: center;
	font-family: Bangers;
	font-size: 25px;
}

.text_florian {
	text-align: center;
	font-family: Bangers;
	font-size: 20px;
}

.cv__Florian {
	margin: 10px;
	padding: 10px;
}

/* CV Noah */

.nom_Noah {
	text-align: center;
	font-family: Bangers;
	font-size: 25px;
}

.text_noah {
	text-align: center;
	font-family: Bangers;
	font-size: 20px;
}

.cv__Noah {
	margin: 10px;
	padding: 10px;
}

/* Cv Adam */

.nom_Adam {
	text-align: center;
	font-family: Bangers;
	font-size: 25px;
}

.text_adam {
	text-align: center;
	font-family: Bangers;
	font-size: 20px;
}

.cv__Adam {
	margin: 10px;
	padding: 10px;
}

/*Img de chaque de CV*/

.cv__Chantal-img {
	margin: 10px;
	padding: 10px;
	width: 300px;
	height: 350px;
	/*border-radius: 50% 50% 49% 51% / 47% 48% 52% 53%;*/
	background-color: #C3B2AF;
	transition: all 0.5s ease-out;
}

.cv__Florian-img {
	margin: 10px;
	padding: 10px;
	width: 300px;
	height: 350px;
	border-radius: 50% 50% 49% 51% / 47% 48% 52% 53%;
	background-color: #C3B2AF;
	transition: all 0.5s ease-out;
}

.cv__Noah-img {
	margin: 10px;
	padding: 10px;
	width: 300px;
	height: 350px;
	border-radius: 50% 50% 49% 51% / 47% 48% 52% 53%;
	background-color: #C3B2AF;
	transition: all 0.5s ease-out;
}

.cv__Adam-img {
	margin: 10px;
	padding: 10px;
	width: 300px;
	height: 350px;
	border-radius: 50% 50% 49% 51% / 47% 48% 52% 53%;
	background-color: #C3B2AF;
	transition: all 0.5s ease-out;
}

/* Animations des image CV */

.cv__Chantal-img:hover,
.cv__Chantal-img:focus {
	color: #F9ED32;
	background-color: #C3B2AF;
	box-shadow: 5px 5px 5px #E6F3FF;
}

.cv__Florian-img:hover,
.cv__Florian-img:focus {
	color: #F9ED32;
	background-color: #C3B2AF;
	box-shadow: 5px 5px 5px #E6F3FF;
}

.cv__Noah-img:hover,
.cv__Noah-img:focus {
	color: #F9ED32;
	background-color: #C3B2AF;
	box-shadow: 5px 5px 5px #E6F3FF;
}

.cv__Adam-img:hover,
.cv__Adam-img:focus {
	color: #F9ED32;
	background-color: #C3B2AF;
	box-shadow: 5px 5px 5px #E6F3FF;
}