/*Bouton retour accueil*/

.retour-accueil {
  cursor: pointer;
  width: 110px;
  margin-left: 4%;
  background-color: #F9ED32;
  color: white;
  font-size: 15px;
  border-radius: 81% 19% 22% 78% / 50% 54% 46% 50%;
  height: 50px;
}

*{
  box-sizing: border-box;
}

h4{
  font-size: 50px;  
  text-transform: uppercase;
  text-align: center;
}

h3{
  font-size: 45px;
  color: #E6F3FF;
}

h2{
  font-size: 45px;
  color: #E6F3FF;
  border-bottom: 3px solid #F9ED32;
  padding-left: 0.5%;
}

.page{
  margin: auto;
  font-family: 'Source sans Pro', 'Calibri', 'Tahoma', 'sans-serif';
  font-size: 16px; 
  border: 5px solid #F9ED32;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 3px 4px #B0BAC3;
  background: #7C838A;
  color: #E6F3FF
}

.infophoto{
  height: 600px;
}

.info{
  float: left;
  font-size: 32px;
  padding: 0 0 0 0.5%;
}

.photo{
  float: right;
  width: 340px;
  margin: 0.5% 3.5% 0 0;
}

img{
  width: auto;
  height: 80%;
  border-radius: 30%;
  max-height: 265px;
  margin-left: 60px;
}

.responsive{
  width: 100%;
  height: auto;
}

.titre{
  float: left;
  margin: 5% 0 0 14%;
  font-weight: bold;
  font-size: 20px;
  position:  relative;
 /* border: 1px solid #F9ED32;*/
  width: 435px;
  height: 200px;
}

.section{
  margin-bottom: 65px;
  text-align: justify;
  margin-top: 60px;

}
.sectionExp{
  margin-top: 210px;
  margin-bottom: 100px;
  text-align: justify;
  height: auto;

}
.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-right: 3%;
  margin-left: 260px;
  width: 30%;
  border: 5px solid #F9ED32;
  border-radius: 10px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 15px;

}

.forma-table,td{
font-size: 45px;
border-spacing: 127px 32px;
}
.forma-table{
  margin: 0 10px 0 0;
}

.sec-droite{
  margin-left: 250px;
  margin-top: 40px;
   font-size: 45px;
 /* text-align: right;*/
}
.sec-droite p{
  font-size: 50px;
}

.section-competences{
  height: 600px;
  margin-bottom: 65px;
  text-align: justify;
}

.sec-droite-competence {
  margin-top: 30px;
  font-weight: bold;
  font-size: 45px;
  float: left;
 /* margin: 60px 560px 0 0; */
}

#mabarre{
  height: 20px;
  width: 100%;
  background-color: #E6F3FF;
  border-radius: 10px;
  color: #7C838A;

}
  
#maprogbarre{
  height: 20px;
  width: 100%;
  background-color:  #F9ED32;
  text-align: center;
}

.titre1{
  text-align: left;
  font-weight: bold;
  font-size: 50px;
  text-decoration-line: underline;
}

.exp-table{
  margin: 0 10px 0 30px;
}
.exp-table,td{
  font-size: 45px;
  border-spacing: 127px 32px;
}

@media only screen and (max-width: 800px){

 #maprogbarre{
  height: 20px;
  width: 100%;
  background-color:  red;
  text-align: center;
}
}

@media only screen and (max-width: 1900px){
img{
  width: auto;
  height: 50%;
  border-radius: 30%;
  max-height: 265px;
}

.section-competences{
  height: 600px;
  margin-bottom: 65px;
  text-align: justify;
}
}