/* Animations Fondu */

.Oeuf-top {
	width: 102%;
	height: 100%;
	margin-left: -25px;
	margin-top: -1%;
}

.Oeuf-bas {
	width: 106%;
	height: 100%;
	top: -4px;
	margin-left: -30px;
}

#cross-fading {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cross-fading img {
  /*width: 200px;*/
  position:absolute;
  left: 26%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#cross-fading img.Oeuf-top:hover {
  opacity:0;
}
/* Partie menu */

body {
	background-color:  #31009E;
}

ol {
	margin-top: 30px;
	text-align: center;
	background-color: rgba(104,45,235,0.30);
}

li {
	display: inline-block;
	flex: 1;
	cursor: pointer;
}

#realisation {
	font-family: Permanent Marker;
	width: 150px;
	color: #fff;
	border-radius: 15px;
	margin: 10px;
	padding: 20px;
	font-size: 20px;
	transition: all 0.5s ease-out;
}


 #competence {
 	font-family: Permanent Marker;
 	width: 150px;
 	color: #fff;
 	border-radius: 15px;
 	margin: 10px;
 	padding: 20px;
 	font-size: 20px;
 	transition: all 0.5s ease-out;
 }

 #contact {
 	font-family: Permanent Marker;
 	width: 150px;
 	color: #fff;
 	border-radius: 15px;
 	margin: 10px;
 	padding: 20px;
 	font-size: 20px;
 	font-weight: 15px;
 	transition: all 0.5s ease-out;
 }

 #CV {
 	font-family: Permanent Marker;
 	width: 210px;
 	color: #fff;
 	border-radius: 15px;
 	margin: 10px;
 	padding: 20px;
 	font-size: 20px;
 	transition: all 0.5s ease-out;
 }

 /* Animations CSS menu de navigation */

#realisation:hover,
#realisation:focus {
	color: #F9ED32;
	border: 2px solid;
	transform: scale(1.20);
	box-shadow: 0px 1px 10px 2px #7846E8;
}

#competence:hover,
#competence:focus {
	color: #F9ED32;
	border: 2px solid;
	transform: scale(1.20);
	box-shadow: 0px 1px 10px 2px #7846E8;
}

#contact:hover,
#contact:focus {
	color: #F9ED32;
	border: 2px solid;
	transform: scale(1.20);
	box-shadow: 0px 1px 10px 2px #7846E8;
}

#CV:hover,
#CV:focus {
	color: #F9ED32;
	border: 2px solid;
	transform: scale(1.20);
	box-shadow: 0px 1px 10px 2px #7846E8;
}
 

* {
	margin: 0;
	padding: 0;
	font-family: fantasy;
}

h1 {
	font-family: Bangers;
	text-align: center;
	margin: 5px;
	color: #fff;
}

#intro {
	font-family: Bangers;
	text-align: center;
	margin: 5px;
	font-size: 25px;
	color: #F9ED32;
} 

.intro-paragraphes {
	font-family: Bangers;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	border: 2px solid #682DEB;
	padding: 10px;
	margin: 60px;
	color: #FFF34A;
}

.intro-paragraphes:hover {
	background: rgb(255,243,74);
	background: linear-gradient(80deg, rgba(255,243,74,1) 0%, rgba(104,45,235,1) 80%);
	border: none;
}

li {
	list-style: none;
	padding: 5px;  
}

.credits {
	font-family: Itim;
	padding: 15px;
	background-color: #682DEB;
	color: #F9ED32;
	text-align: center;
	font-size: 20px;
	font-style: oblique;
	font-weight: bold;
	margin-top: 50%;
	box-shadow: 5px 5px 5px #E6F3FF;
}

/* Retour en Haut */

.up {
	  font-size: 6em;
    text-decoration: none;
    color: #F9ED32;
    float: right;
    margin-right: 40px;
    margin-top: -170px;
}

/*--- Partie responsive ---*/

@media screen and (max-width: 600px){
	.body {
		overflow-x: hidden;
	}

	.Oeuf-top {
		display: none;
	}

	#Oeuf {
		margin-left: -130px;
	}

	.up {
		float: left;
		margin-top: -190px;
	}
	
	.credits {
		margin-top: 610px;
	}
}